.card { position: relative; }

.card .coverCard {
    width: 100%;
    overflow: hidden;
    filter: blur(0);
    transition: filter .4s ease;
}
.card:hover .coverCard{ filter: blur(10px); }

.card .coverCard .imgCard {
    display: block;
    width: 100%;
    object-fit: cover;
}

.titleCard, .descriptionCard { 
    position: absolute; 
    opacity: 0;
    transition: opacity .4s ease;
}
.card:hover .titleCard,
.card:hover .descriptionCard { opacity: 1; }

.titleCard {
    top: 20%;
    left: 38%;
}
.titleCard span {
    font-size: 14px;
    text-transform: uppercase;
}

.descriptionCard { 
    margin-top: 2em; 
    width: 70%;
    top: 20%;
    left: 18%;
    text-align: justify;
    line-height: 13px;
}
.descriptionCard span { font-size: 10px; }


